@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

:root {
  --main-dark-color: #1a1919;
  --main-light-color: #f0f5fc;
  --search-bar-dark: rgb(37, 36, 36);
  --search-bar-light: #e7eefd;
  --light-gray: rgb(126, 123, 123);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  outline: none;
}

/* -------------------------------------------------------------- */
/* Light/dark mode color classes */
.dark {
  background-color: var(--main-dark-color);
  color: var(--main-light-color);
  transition: 0.3s ease;
}

.light {
  background-color: var(--main-light-color);
  color: var(--main-dark-color);
  transition: 0.3s ease;
}

.search-dark {
  background-color: var(--search-bar-dark);
  color: var(--main-light-color);
  transition: 0.3s ease;
}

.search-light {
  background-color: var(--search-bar-light);
  transition: 0.3s ease;
  color: var(--main-dark-color);
}

/* -------------------------------------------------------------- */
/* Overall container */
#container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    'head'
    'mainContainer'
    'footer';
}

hr {
  color: currentColor;
}

/* -------------------------------------------------------------- */
/* header */
#head {
  grid-area: head;
  background-color: rgb(2, 129, 202);
}

#page-title {
  display: block;
  margin: 1rem 0 1rem 3rem;
  padding: 1rem;
  font-size: 3rem;
  text-align: center;
  color: var(--main-light-color);
  box-shadow: 2px 2px 5px var(--main-light-color);
  border: 1px solid rgb(2, 129, 202);
  border-radius: 20px;
  width: 510px;
}

/* -------------------------------------------------------------- */
/* Main container */
#main-container {
  grid-area: mainContainer;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    'search search'
    'results results';
}

/* -------------------------------------------------------------- */
/* search container styles */
#search-container {
  position: sticky;
  top: 0;
  left: 0;
  grid-area: search;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid var(--light-gray);
}

#search-form {
  margin-top: 10px;
}

#search-input,
#submit-search {
  border: 2px solid rgb(2, 129, 202);
}

#search-input {
  font-size: 1em;
  padding: 0.5em;
  border-radius: 20px 0 0 20px;
  width: 80%;
}

#search-input:focus,
#search-input:hover {
  box-shadow: 0 0 10px rgb(2, 129, 202);
}

#submit-search {
  font-size: 1em;
  padding: 0.5em;
  margin-left: -4px;
  border-radius: 0 20px 20px 0;
  border-left: 0px;
  width: 20%;
  text-align: center;
}
#submit-search.search-error {
  border-left: 0 !important;
}
#submit-search:hover {
  cursor: pointer;
  box-shadow: 0 0 10px rgb(2, 129, 202);
}

#searched-term {
  margin-top: 5px;
}

/* -------------------------------------------------------------- */
/* search results container */
#results-container {
  grid-area: results;
  margin: 1em 0;
  padding-bottom: 2rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    'videoPlayer'
    'searchResults';
  grid-gap: 20px;
}

/* We want this class to override the colors given by the id's while they are added */
.search-error {
  border: 2px solid crimson !important;
  box-shadow: 0 0 10px crimson !important;
  color: crimson !important;
}

/* -------------------------------------------------------------- */
/* search results */
#search-results {
  display: none;
  grid-area: searchResults;
  padding: 1rem;
  border-right: 2px solid;
  transition: 0.3s ease-out;
}

#results-term-field {
  margin-bottom: 5px;
  text-align: center;
}

#search-items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 10px;
}
.search-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  list-style-type: none;
  font-size: 0.75em;
  max-width: 250px;
  border-bottom: 1px solid;
  padding: 5px;
  margin-bottom: 5px;
  height: 250px;
  width: 250px;
  text-align: center;
}

.thumbnail {
  width: 230px;
  cursor: pointer;
}

.video-title {
  cursor: pointer;
}

#show-search {
  display: none;
  margin: 0 0 12px 12px;
  box-shadow: 0 0 10px rgb(255, 255, 255);
}
.to-the-left {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 3rem;
  width: 100vw;
  height: calc(100vh - 3rem);
  transform: translateX(-100%);
}

.to-the-right {
  position: absolute;
  transform: translateX(0);
  top: 0;
  right: 0;
  left: 0;
  bottom: 3rem;
  width: 100vw;
  height: calc(100vh - 3rem);
  overflow-y: auto !important;
}

#window-close {
  position: absolute;
  top: 15px;
  left: 20px;
  color: currentColor;
  visibility: hidden;
  transform: scale(2);
}

#window-close:hover {
  cursor: pointer;
}

/* -------------------------------------------------------------- */
/* Buttons */
.buttons {
  display: none;
  justify-content: space-between;
  width: 225px;
  margin: 0 auto;
}

.btn {
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  background-color: rgb(2, 129, 2025);
  font-size: 0.75em;
  transition: 0.1s ease-out;
  cursor: pointer;
  /* This setting takes the color property from the body's color property */
  color: #fff;
}

.btn:active {
  background-color: rgba(2, 129, 202, 0.8);
}
.btn:disabled {
  opacity: 0.7;
  cursor: default;
}

/* -------------------------------------------------------------- */
/* video player */
#video {
  grid-area: videoPlayer;
  min-height: 0px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  /* minmax sets the size of the the video player grid item (video) to 0px initially, then the appropriate minimum size when the iframe is displayed */
  grid-auto-rows: minmax(0px, min-content) auto;
  grid-template-areas:
    'video'
    'releventVideos';
  justify-content: center;
}

#video-center {
  grid-area: video;
  margin: 0 auto;
  width: 95%;
}

#video iframe {
  width: 100%;
  top: 101px;
  height: 500px;
}

#player {
  display: none;
}

#video-information {
  margin-top: 0.8em;
  text-align: left;
  line-height: 2em;
}

#relevant-videos {
  grid-area: releventVideos;
  display: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

#video-desc {
  display: none;
  text-align: center;
  margin-top: 1em;
}

#relevant-video-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

/* -------------------------------------------------------------- */
/* slider */
#color-mode {
  position: absolute;
  top: 12px;
  right: 12px;
  width: 75px;
  height: 30px;
  border-radius: 20px;
  box-shadow: 0 0 10px var(--main-light-color);
  cursor: pointer;
  display: flex;
  align-items: center;
}

#color-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8em;
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translate(-5%, -50%);
  width: 25px;
  height: 25px;
  border-radius: 50%;
  transition: 0.2s linear;
  background-color: rgb(2, 129, 202);
}

#color-mode-icon-sun {
  position: absolute;
  top: 30%;
  right: 10%;
  transform: scale(1.2) translate(-10%, -20%);
}

#color-mode-icon-moon {
  position: absolute;
  top: 50%;
  left: 15%;
  transform: translate(-15%, -50%);
  visibility: hidden;
}

#color-circle.right {
  top: 50%;
  left: 95%;
  transform: translate(-95%, -50%);
}

/* -------------------------------------------------------------- */
/*  Footer  */
#footer {
  grid-area: footer;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(2, 129, 202);
  color: #fff;
}

#name {
  color: #000;
}

/* -------------------------------------------------------------- */
/* All Media Queries */

@media (max-width: 800px) {
  #page-title {
    width: 300px;
    text-align: start;
    margin: 0.5rem 0 0.5rem 1rem;
  }

  #search-results {
    border-right: none;
  }
  #search-items {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .buttons {
    margin: 0 auto;
  }
}

@media (max-width: 500px) {
  #search-container {
    height: 125px;
  }

  #search-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4px;
  }

  #search-input {
    width: 80%;
    border-radius: 20px;
  }

  #submit-search {
    width: 50%;
    border-radius: 20px;
    margin: 2px 0 0 0;
    border: 2px solid rgb(2, 129, 202);
  }

  #search-results {
    display: none;
    flex-direction: column;
    align-items: center;
  }

  .buttons {
    justify-content: space-around;
  }
}

/* This singular query is for really small screens such that the logo would overlap with the color mode slider. This pushes the logo down so that they don't overlap */
@media (max-width: 410px) {
  #page-title {
    margin-top: 1em;
  }
}
